.list {
   margin: 2rem auto;
   width: 90%;
   max-width: 40rem;
}

.list ul {
   list-style: none;
   padding: 1rem;
}

.list li {
   border: 0.5px solid black;
   margin: 0.5rem 0;
   padding: 0.5rem;
   font-weight: bold;
}